/* Projects.css */

.projects-container {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    font-family: 'Poppins', sans-serif;
  }
  
  .project-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .project-icon {
    margin-left: auto;
    
  }

  .actual-icon {
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .project-name {
    text-align: left;
    cursor: pointer;
    padding: 10px;
    background-color: #2b2b2b;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .project-name:hover {
    transform: scale(1.02);
    background-color: #404040;
  }
  
  .project-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 1000px;
    position: relative; /* Ensure relative positioning for absolute positioning within */
text-align: left;
  }
  
  
  .project-icons svg {
    width: 100%;
    font-size: 24px;
    color: #3498db; /* Change the color based on your preference */
  }
  
  .project-section h2 {
    margin-bottom: 10px;
    width: auto;
    
  }
  
  .back-to-top {
    background-color: #222629;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: right;
  }
  
  .back-to-top:hover {
    background-color: #000000;
  }

  .project-slides {
    max-height: 500px;
    max-width: 600px;
  }


@media screen and (max-width: 768px) {
    .projects-container {
        max-width: 370px;
      }
      .actual-icon {
        float: none;
      }
      .projects-container > h1 {
        font-size: 50px;
      }

      .project-slides {
        max-height: 230px;
        max-width: 400px;
      }
  
  }

  
  