.aboutContainer{
    margin-top: 8%;
}

.about_icon {
    max-height: 50px;
}
.about_icon_sq {
    margin-left: 10px;
    max-height: 50px;
}
ul{
    text-align: left;
    margin-left: -40px;
}

@media (max-width: 768px) {
    .aboutContainer{
        margin-top: 40%;
    }
    
}