
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes growFromPoint {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  .growOut {
    animation: 0.3s ease-in-out 0s 1 growFromPoint;
  }
body {
    font-family: 'Poppins', sans-serif;
}

.about-entry {
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
}

.about-container {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    font-family: 'Poppins', sans-serif;
}


table {
    margin: 0 auto;
    width: 80%; 
    border-collapse: collapse;
}

.item_row {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.item_row:hover {
    transform: scale(1.05);
}

td {
    padding: 15px;
    text-align: left;
}


.horizontal-line {
    border-top: 1px solid #3498db;
    margin: 15px 0;
}

.fromLeft {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.fromRight {
    animation: 1s ease-out 0s 1 slideInFromRight;
}
.image-text-separator {
    border-right: 1px solid #3498db;
    margin: 0 15px;
}


.about_icon,
.about_icon_sq {
    max-height: 80px;
    border-radius: 10%;
    max-width: 100px;
    background-color: #ffffff;
    padding: 10px;
}

.about_icon_sq {
    max-height: 80px;
    margin-left: 10px;
    max-width: 50px;
}


.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.popup-content {
    max-width: 400px;
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.experience-details > ul {
    margin-bottom: 20px;
    text-align: left;
}

.experience-details {
    margin-bottom: 20px;
}

ul {
    margin-left: -20px;
    color: #ffffff;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/* Link styles */
a {
    color: #3498db;
}


@media (max-width: 768px) {
    .about-container {
        max-width: 350px;
        margin-top: 5%;
    }

    table {
        width: 100%;
    }

    .about_icon,
.about_icon_sq {
    max-height: 80px;
    max-width: 70px;
}
}
