@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.bodyContainerHob {
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

.fromLeft {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.hob-container>h1 {
    font-size: 60px;
}

.fromRight {
    animation: 1s ease-out 0s 1 slideInFromRight;
}

.hob-container {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    font-family: 'Poppins', sans-serif;
}

.hob-list {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hob-icon {
    margin-left: auto;

}

.actual-icon {
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.hob-name {
    justify-content: center;
    justify-self: center;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #2b2b2b;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    width: 95%;
}

.hob-name:hover {
    transform: scale(1.02);
    background-color: #404040;
}

.hob-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
}


.hob-icons svg {
    width: 100%;
    font-size: 24px;
    color: #3498db;
}

.hob-section h2 {
    margin-bottom: 10px;
    width: auto;
}

.back-to-top {
    background-color: #222629;
    color: #ffffff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: right;
}

.back-to-top:hover {
    background-color: #000000;
}

.hob-slides {
    max-height: 500px;
    max-width: 600px;
}

.paint-slides {
    max-height: 800px;
    max-width: 400px;
}

.sliderContainer {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 768px) {
    .hob-container {
        max-width: 370px;
    }

    .actual-icon {
        float: none;
    }

    .hob-container>h1 {
        font-size: 40px;
    }

    .hob-slides {
        max-height: 230px;
        max-width: 400px;
    }

    .bodyContainerHob {
        max-width: 100%;
    }

    .hob-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .paint-slides {
        max-height: 800px;
        max-width: 310px;
    }

    .anime-slides {
        max-width: 270px;
        max-height: 200px;
    }

}